@model IEnumerable<VideoAppMVC.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-6">
        <a asp-action="Create">Create New</a>
    </div>
    <div class="col-6">
        <form class="d-flex" action="@Url.Action("Index","Films")" method="POST">
        <input id="titolo" class="form-control me-2"  type="search" placeholder="Titolo" name="titolo" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" id="ricerca">Ricerca</button>
      </form>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>



</script>
